<ion-slides pager="true" [options]="slideOpts">

    <ion-slide>
      <ion-card>
          <ion-card-content>
            <div>
                <img src=" /assets/problemasWally/C001/ImagemContexto/W0001.png">  
            </div>
          </ion-card-content>
      </ion-card>
    </ion-slide>

    <ion-slide>
        <ion-card >
            <ion-card-content>
              <div>
                  <img src=" /assets/problemasWally/C001/CodigoDoProgramador/W0001.png">
              </div>
            </ion-card-content>
        </ion-card>
    </ion-slide>

  </ion-slides>