<ion-slides pager="true" [options]="slideOpts">

    <ion-slide>
      <ion-card>
          <ion-card-content>
            <div>
                <img src="assets/wally/problemas/imagens/C001/A0001.png">  
            </div>
          </ion-card-content>
      </ion-card>
    </ion-slide>

    <ion-slide>
        <ion-card >
            <ion-card-content>
              <div>
                  <img src="assets/wally/problemas/codigos/C001/A0001.png">
              </div>
            </ion-card-content>
        </ion-card>
    </ion-slide>

  </ion-slides>