<ion-header>
  <ion-toolbar class="barraSuperior">
    <ion-buttons>
      <ion-menu-button class="menuBotao"></ion-menu-button>
      <ion-title>Tutorial</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!--Slides-->
<ion-content fullscreen scroll-y="false">
  <ion-slides pager="true">

    <ion-slide>
        <img src="/assets/tutorial/1.png"/>
    </ion-slide>

    <ion-slide>
      <img src="/assets/tutorial/2.png"/>
    </ion-slide>

    <ion-slide>
      <img src="/assets/tutorial/3.png"/>
    </ion-slide>

    <ion-slide>
      <img src="/assets/tutorial/4.png"/>
    </ion-slide>

    <ion-slide>
      <img src="/assets/tutorial/5.png"/>
    </ion-slide>

    <ion-slide>
      <img src="/assets/tutorial/6.png"/>
    </ion-slide>

    <ion-slide>
      <img src="/assets/tutorial/7.png"/>
    </ion-slide>

    <ion-slide>
      <img src="/assets/tutorial/8.png"/>
    </ion-slide>

  </ion-slides>
</ion-content>