<ion-content>
  <ion-toolbar class="barraSuperior">
      <ion-buttons slot="secondary">
        <ion-button routerLink = "/teoria">
          <ion-icon slot="icon-only" name="bookmarks"></ion-icon>
        </ion-button>
        <ion-button routerLink = "/exemplificacao">
          <ion-icon slot="icon-only" name="create"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title id="titulo"></ion-title>
    </ion-toolbar>
  <ion-list>

    <ion-item *ngFor="let problema of problemas">
      <ion-fab-button size="small" [routerLink] ="['/problema', problema.codigo]" color="dark">
        <ion-icon name="play"></ion-icon>
      </ion-fab-button>
      <ion-label>
        {{problema.titulo}}
      </ion-label>
    </ion-item>
    
  </ion-list>
  <!--<ion-fab vertical="bottom" horizontal="end" slot="fixed" routerLink = "/home">
      <ion-fab-button>
        <ion-icon name="home"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  -->
</ion-content>
