.barraSuperior{
    font: italic small-caps normal 18px/1.3em Arial, sans-serif;
    --background:#fdad1a;
} 
.corBotao{
    --background: #fdad1a;
    font: italic small-caps normal 18px/1.3em Arial, sans-serif;
}