<ion-header>
  <ion-toolbar class="barraSuperior">
    <ion-buttons>
      <ion-menu-button class="menuBotao"></ion-menu-button>
      <ion-title>Sobre</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-slides pager=true>
      <ion-slide>
        <img src="/assets/sobre/slides-sobre/slide-02.JPG">
      </ion-slide>
      <ion-slide>
        <img src="/assets/sobre/slides-sobre/slide-01.jpg">
      </ion-slide>
      <ion-slide>
        <img src="/assets/sobre/slides-sobre/slide-03.jpeg">
      </ion-slide>
    </ion-slides>

    <ion-card-header>
      <ion-card-title>Quem somos nós?</ion-card-title>
      <ion-card-subtitle><b>Projeto de Gamificação para o Ensino de Algotimos</b></ion-card-subtitle>
    </ion-card-header>

    <ion-card-content class="corpoDeTexto">
      <div>O embrião do projeto de extensão "Gamificação para o Ensino de Algoritmos" nasceu no ano de 2017, no IFPE
        Campus Garanhuns, a partir de uma integração entre as disciplinas de Educação Física e Algoritmos. Neste ano,
        foi desenvolvido um jogo de tabuleiro, intitulado “Java Project”, cujo principal objetivo era abordar a lógica
        de programação com uma nova "roupagem", visto os altos índices de reprovação na disciplina de Algoritmos. </div>
      <div>Com o resultado positivo que foi recebido, percebeu-se que a proposta poderia ser amadurecida e se tornar um
        projeto no Campus, e assim foi feito.</div>
      <div>O projeto foi realizado em 2018 e a equipe reformulou todo o funcionamento e a lógica do primeiro tabuleiro e
        produziu um novo, intitulado “Programming”, que contava agora com três modalidades que poderiam ser adaptadas no
        mesmo tabuleiro: uma que somente utilizava lógica de programação (intitulada “Arbitrária/Wally”), e outras duas
        com linguagem técnica: uma na linguagem Java e outra pseudolinguagem Portugol. Os resultados também foram muito
        positivos, tanto com o público interno, quanto o externo. </div>
      <div>Em 2019 o projeto foi renovado, trazendo agora uma nova proposta: o desenvolvimento de um aplicativo móvel
        (este que você está usando!) que pudesse utilizar os mesmos conceitos dos jogos desenvolvidos anteriormente e
        também ensinar e estimular o aprendizado em lógica de programação. </div>
      <div>No decorrer dos projetos, a equipe desenvolveu toda uma plataforma, nomeada “Se Liga Aê!”, que tem como
        objetivo acompanhar todo o processo de ensino-aprendizagem. Como se trata de uma plataforma, ela, além de
        incluir o jogo de tabuleiro Programming, também possui materiais de estudo, como algumas apostilas, calendários,
        folhas de planejamento, etc. </div><br>
      <div>
        Você pode acessar o site do Se Liga Aê! clicando <a
          href="https://seligaaeifpe.wixsite.com/seligaae-ifpe2018">aqui</a>.
      </div>
    </ion-card-content>

  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Créditos do App/Copyright ©</ion-card-title>
    </ion-card-header>

    <ion-card-header>
      <ion-card-subtitle><b>Equipe de Desenvolvimento</b></ion-card-subtitle>
    </ion-card-header>

    <ion-card-content class="corpoDeTexto">

      <!--<ul>
        <li>Clara Larissa Duarte Trajano Dias (técnica em Informática pelo IFPE, claralarissa.ifpe@gmail.com)</li>
        <li>Marcos Gabriel Rodrigues Melo (técnico em Informática pelo IFPE, marcos.grm@yahoo.com)</li>
        <li>Alephy Vinícius Rossi Cardoso da Silva (técnico em Informática pelo IFPE, alephyvinicius18@gmail.com)</li>
        <li>Equipe Se Liga Aê! © (seligaae.ifpe@gmail.com)</li>
        <li>Eduardo Garcia Wanderley (orientador)</li>
        <li>Renata Garcia Wanderley (professora colaboradora)</li>
        <li>Leonardo Soares e Silva (professor colaborador)</li>
      </ul>-->

      <div class="chip">
        <img src="/assets/sobre/marcos.jpeg" alt="Person" width="96" height="96">
        Marcos Gabriel Rodrigues Melo
      </div>
      <br><br>
      <div class="chip">
        <img src="/assets/sobre/clara.jpeg" alt="Person" width="96" height="96">
        Clara Larissa Duarte Trajano Dias
      </div>
      <br><br>
      <div class="chip">
        <img src="/assets/sobre/alephy.jpeg" alt="Person" width="96" height="96">
        Alephy Vinícius Rossi Cardoso da Silva
      </div>
      <br><br>
      <div class="chip">
        <img src="/assets/sobre/filipe.jpeg" alt="Person" width="96" height="96">
        Filipe Paulino Barbosa
      </div>
    </ion-card-content>

    <ion-card-header>
      <ion-card-subtitle><b>Orientação</b></ion-card-subtitle>
    </ion-card-header>
    <ion-card-content class="corpoDeTexto">
      <ul>
        <li>Eduardo Garcia Wanderley (orientador)</li>
        <li>Renata Garcia Wanderley (professora colaboradora)</li>
        <li>Leonardo Soares e Silva (professor colaborador)</li>
      </ul>
    </ion-card-content>

    <ion-card-header>
      <ion-card-subtitle><b>Agradecimentos Especiais</b></ion-card-subtitle>
    </ion-card-header>
    <ion-card-content class="corpoDeTexto">
      <div>Instituto Federal de Educação, Ciência e Tecnologia de Pernambuco - Campus Garanhuns
        (portal.ifpe.edu.br/campus/garanhuns),
        João Paulo dos Santos Oliveira (professor colaborador), David Alain do Nascimento (docente), Eduardo De Melo
        Vasconcelos (docente),
        Ewerton Menezes de Mendonça (docente), Elmano Ramalho Cavalcanti (docente), Fabrício Barros Cabral (docente),
        Marcelo Silva Santos (docente),
        Tiago Lima (docente), Carlos Magno Silva de Menezes (docente), Vilmar Santos Nepomuceno (docente), Cosmo Mariano
        da Silva Junior (docente),
        Margarete Maria da Silva (pedagoga), Yasmim Adrieny da Silva Sales (estudante), Eduarda Ciriaco Manenti
        (estudante), Carlos Sabino de França Neto (estudante),
        João Vinícius Faustino Revoredo (estudante), Letícia Barbosa (estudante) e
        demais profissionais,
        docentes e estudantes envolvidos, de forma direta ou indireta, na formulação e produção da plataforma Se
        Liga!©.</div>

    </ion-card-content>
  </ion-card>

  <footer>
    <p class="rodape">© 2019 Se Liga Aê! Todos os direitos reservados.
      <br> Gamificação para o ensino de Algoritmos - IFPE Campus Garanhuns</p>
  </footer>

</ion-content>