<ion-header>
  <ion-toolbar class="barraSuperior">
      <ion-buttons>
          <ion-menu-button class = "menuBotao"></ion-menu-button>
          <ion-title>Sobre</ion-title>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card> 
    <ion-slides>
      <ion-slide>
        <img src="/assets/slides-sobre/slide-01.jpg">
      </ion-slide>
      <ion-slide>
          <img src="/assets/slides-sobre/slide-02.JPG">
      </ion-slide>
      <ion-slide>
          <img src="/assets/slides-sobre/slide-03.jpeg">
      </ion-slide>
    </ion-slides>
    <ion-card-header>
      <ion-card-subtitle>Quem somos nós?</ion-card-subtitle>
      <ion-card-title> Projeto de Gamificação para o Ensino de Algotimos</ion-card-title>
    </ion-card-header>
   <ion-card-content>
    O embrião do projeto de extensão Gamificação para o Ensino de Algoritmos nasceu no ano de 2017, no IFPE Campus Garanhuns, a partir de uma integração entre as disciplinas de Educação Física e Algoritmos. Neste ano, foi desenvolvido um jogo de tabuleiro, intitulado “Java Project”, cujo principal objetivo era abordar a lógica de programação com uma nova roupagem, visto os altos índices de reprovação na disciplina de Algoritmos. Com o resultado positivo que foi recebido, percebeu-se que a proposta poderia ser amadurecida e se tornar um projeto no Campus, e assim foi feito. 
    O projeto foi realizado em 2018 e a equipe reformulou todo o funcionamento e a lógica do primeiro tabuleiro e produziu um novo, intitulado “Programming”, que contava agora com três modalidades que poderiam ser adaptadas no mesmo tabuleiro: uma que somente utilizava lógica de programação (intitulada “Arbitrária”), e outras duas com linguagem técnica: uma na linguagem Java e outra pseudolinguagem Portugol. Os resultados também foram muito positivos, tanto com o público interno, quanto o externo. Em 2019 o projeto foi renovado, trazendo agora uma nova proposta: o desenvolvimento de um aplicativo móvel (este que você está usando!) que pudesse utilizar os mesmos conceitos dos jogos desenvolvidos anteriormente e também ensinar e estimular o aprendizado em programação.
    No decorrer dos projetos, a equipe desenvolveu toda uma plataforma, nomeada “Se Liga Aê!”, que tem como objetivo acompanhar todo o processo de ensino-aprendizagem. Como se trata de uma plataforma, ela além de incluir o jogo de tabuleiro Programming, também possui materiais de estudo, como algumas apostilas, calendários, folhas de planejamento, etc.    
   </ion-card-content>
   <img src="">
  </ion-card>
    <!-- <a href="https://seligaaeifpe.wixsite.com/seligaae-ifpe2018">
      <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Conheça o </ion-card-subtitle>
            <ion-card-title>Se Liga Aê!</ion-card-title>
          </ion-card-header>
      </ion-card>
   </a>
    <img src="/assets/slides-sobre/javaGame.jpg">
  <img src="/assets/slides-sobre/programmingJava.jpg">

  -->
  <ion-card>
    <ion-card-content>
      CRÉDITOS DO APP/COPYRIGHT ©
      Clara Larissa Duarte Trajano Dias (estudante, claralarissa.ifpe@gmail.com)
      Marcos Gabriel Rodrigues Melo (estudante, marcos.grm@yahoo.com)
      Alephy Vinícius Rossi Cardoso da Silva (estudante, alephyvinicius18@gmail.com)
      Se Liga Aê! © (seligaae.ifpe@gmail.com)
      AGRADECIMENTOS
Instituto Federal de Educação, Ciência e Tecnologia de Pernambuco - Campus Garanhuns (portal.ifpe.edu.br/campus/garanhuns)
Eduardo Garcia Wanderley (docente)
Leonardo Soares e Silva (docente)
Renata Garcia Wanderley (docente)
João Paulo dos Santos Oliveira (docente)
David Alain do Nascimento (docente)
Eduardo De Melo Vasconcelos (docente)
Ewerton Menezes de Mendonça (docente)
Elmano Ramalho Cavalcanti (docente)
Fabrício Barros Cabral (docente)
Marcelo Silva Santos  (docente)
Yasmim Adrieny da Silva Sales (estudante)
Eduarda Ciriaco Manenti (estudante)
João Vinícius Faustino Revoredo (estudante)
Filipe Paulino Barbosa (estudante)
Letícia Barbosa (estudante)

FALE CONOSCO!
Desenvolvedores:
Clara Larissa Duarte Trajano Dias (claralarissa.ifpe@gmail.com)
Marcos Gabriel Rodrigues Melo (marcos.grm@yahoo.com)
Alephy ()
Se Liga Aê! © (seligaae.ifpe@gmail.com)

Orientadores:
Eduardo Garcia Wanderley ()
Leonardo Soares e Silva ()
Renata Garcia Wanderley ()

Instituto Federal de Educação, Ciência e Tecnologia de Pernambuco - Campus Garanhuns (portal.ifpe.edu.br/campus/garanhuns)

    </ion-card-content>
  </ion-card>
 
</ion-content>
