.barraSuperior{
    font: italic small-caps normal 18px/1.3em Arial, sans-serif;
    --background:#fdad1a;
} 
.corBotao{
    --background: #fdad1a;
    font: italic small-caps normal 18px/1.3em Arial, sans-serif;
}

.corpoDeTexto{
    font-family: Arial;
    font-size: 10pt;
}

.chip {
    display: inline-block;
    padding: 0 25px;
    height: 60px;
    font-size: 16px;
    line-height: 60px;
    border-radius: 25px;
    background-color: #f1f1f1;
  }
  
  .chip img {
    float: left;
    margin: 0 10px 0 -25px;
    height: 65px;
    width: 65px;
    border-radius: 50%;
  }

  .rodape {
    font-family: Arial;
    font-size: xx-small;
    text-align: center;
    color: #b8b8b8
}