<ion-header>
  <ion-toolbar class="barraSuperior">
    <ion-buttons slot="secondary">
      <!-- <ion-button href="/assets/exemplificacao/wally/C001.png" download="Exemplificação Wally C001.png">
        <ion-icon slot="icon-only" name="cloud-download"></ion-icon>
      </ion-button> -->
      <ion-back-button text="" icon="checkmark-circle"></ion-back-button>
      
    </ion-buttons>
    <ion-title>
      Exemplificação
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-slides pager="true" [options]="slideOpts" zoom>
    <ion-slide>
      <div class="swiper-zoom-container">
        <img class="img" src="{{exemplo}}">
      </div>
    </ion-slide>
  </ion-slides>


</ion-content>