<ion-header>
  <ion-toolbar class="barraSuperior">
    <ion-buttons slot="secondary">
      <ion-back-button text="" icon="checkmark-circle"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Teorização
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-slides>
  <!-- ngFor os slides-->
      <ion-slide *ngFor="let teoria of teorias" class="swiper-zoom-container">
        <img class="img" src="{{teoria}}">
        <!-- <ion-button href="/assets/teorias/wally/C001/T1001.png" download="Teoria Wally C001 1.png">
          Download <ion-icon slot="icon-only" name="cloud-download"></ion-icon>
        </ion-button> -->
      </ion-slide>
    </ion-slides>

  <!--
  <ion-slides pager="true" [options]="slideOpts" zoom>
    
    <ion-slide>
      <div class="swiper-zoom-container">
        <img class="img" src="/assets/teorias/C001/T1001.png">
      </div>
    </ion-slide>
    <ion-slide>
      <div class="swiper-zoom-container">
        <img class="img" src="/assets/teorias/C001/T1002.png">
      </div>
    </ion-slide>
    <ion-slide>
      <div class="swiper-zoom-container">
        <img class="img" src="/assets/teorias/C001/T1003.png">
      </div>
    </ion-slide>

  </ion-slides>
  -->

</ion-content>