<ion-header>
  <ion-toolbar class="barraSuperior">
    <ion-buttons slot="secondary">
      <ion-button routerLink = "/modalidades">
        <ion-icon slot="icon-only" name="home"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Noções Espaciais</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>  
<!-- <ion-card class = "CardForm" color = '' *ngFor="let c of competencias">
      <ion-card-header>
        <ion-img src="/assets/competencias/C001.png"></ion-img>
      </ion-card-header>
  </ion-card>
-->
  <ion-img class = "imgBorda" src="/assets/competencias/C001.png" routerLink="/lista-problemas"></ion-img>
  <ion-img class = "imgBorda" src="/assets/competencias/C002.png" routerLink="/competencias"></ion-img>
  <ion-img class = "imgBorda" src="/assets/competencias/C003.png" routerLink="/competencias"></ion-img>
  <ion-img class = "imgBorda" src="/assets/competencias/C004.png" routerLink="/competencias"></ion-img>
  <ion-img class = "imgBorda" src="/assets/competencias/C005.png" routerLink="/competencias"></ion-img>
  <ion-img class = "imgBorda" src="/assets/competencias/C006.png" routerLink="/competencias"></ion-img>
  <ion-img class = "imgBorda" src="/assets/competencias/C007.png" routerLink="/competencias"></ion-img>
  <ion-img class = "imgBorda" src="/assets/competencias/C008.png" routerLink="/competencias"></ion-img>
  <ion-img class = "imgBorda" src="/assets/competencias/WZN.png" routerLink="/competencias"></ion-img>
</ion-content>

