<ion-header>
  <ion-toolbar class="barraSuperior">  
    <ion-title>Modalidade Wally</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>  
<!-- <ion-card class = "CardForm" color = '' *ngFor="let c of competencias">
      <ion-card-header>
        <ion-img src="/assets/competencias/C001.png"></ion-img>
      </ion-card-header>
  </ion-card>
-->

  <ion-img *ngFor="let competencia of competencias" class = "imgBorda" src="{{competencia.imagem}}" [routerLink]="['/lista-problemas', id, competencia.codigo]"></ion-img>
  
  
  

</ion-content>

