ion-card{
    display: flex;
    flex-direction: column;
    width: 100% !important;
    margin: 0 !important;
  }
.imgBorda{
	border: 1px inset rgb(255, 255, 255);
}
.barraSuperior{
  font: italic small-caps normal 18px/1.3em Arial, sans-serif;
  --background:#ff6d05;
}
