<ion-header>
    <ion-toolbar class="barraSuperior">
      <ion-buttons slot="start">
        <ion-button routerLink = "/home">
          <ion-icon name="arrow-round-back"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>Entrar</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
<!-- <img src="/assets/icon/logoSeLiga.png" class="imgTopo"> --> 
    <ion-list>
        <ion-item>
            <ion-input placeholder="Email" [(ngModel)]="usuario.email"></ion-input>
          </ion-item>
        <ion-item>
            <ion-input placeholder="Senha" type="password" [(ngModel)]="usuario.senha"></ion-input>
          </ion-item>
          <ion-button (click)="redefinirSenha()">Esqueci minha senha</ion-button>
    </ion-list>
        <ion-button class = "botãoEntrar" expand="block" (click)="login()">Entrar</ion-button>
    <br>
        <ion-button expand="block" class="botãoCadastro" routerLink="/cadastro">CADASTRAR-SE</ion-button>

</ion-content>
