<ion-header>
    <ion-toolbar class="barraSuperior">
      <ion-buttons slot="secondary">
        <ion-button routerLink = "/home">
          <ion-icon name="arrow-round-back"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>Acesse sua Conta</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
<!-- <img src="/assets/icon/logoSeLiga.png" class="imgTopo"> --> 
    <ion-list>
        <ion-item>
            <ion-input placeholder="User"></ion-input>
          </ion-item>
        <ion-item>
            <ion-input placeholder="Senha" type="password"></ion-input>
          </ion-item>
    </ion-list>
        <ion-button class = "botãoCadastro">ENTRAR</ion-button>

</ion-content>
