<ion-header>
  <ion-toolbar>
    <ion-title>Cadastros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <ion-button routerLink='/problemas' expand="full" size="medium">Adicionar problema</ion-button>
  <br>
  <ion-button routerLink='/competencia' expand="full" size="medium"> Adicionar competência</ion-button>
  <br>
  <ion-button routerLink='/modalidade' expand="full" size="medium">Adicionar modalidade</ion-button>
  <br>
  <ion-button routerLink='/medalha' expand="full" size="medium">Adicionar medalha</ion-button>

</ion-content>

<ion-fab vertical="bottom" horizontal="end" slot="fixed" routerLink = "/home">
  <ion-fab-button>
    <ion-icon name="home"></ion-icon>
  </ion-fab-button>
</ion-fab>