.rodape {
    font-family: Arial;
    font-size: xx-small;
    text-align: center;
    color: #b8b8b8
}
.tituloQuestao{
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight:bold;
}
.barraSuperior{
    font: italic small-caps normal 18px/1.3em Arial, sans-serif;
    --background:#ff6d05;
}
.buttonBorda{
    border:1px inset #000000;
    font: small-caps 12px/1.3em Arial, sans-serif;
}

ion-card-subtitle{
    font: normal 18px/1.3em Arial, sans-serif;
    text-align: center;
    color: #000000;
}
.enunciado{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 16px;
    padding-top: 5%;
}

