<ion-header>
  <ion-toolbar>
    <ion-title>
        <ion-button size="small" routerLink="/list" fill="clean">    
          <ion-icon name="arrow-back"></ion-icon>
        </ion-button>
      Problema
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
          <ion-button> <ion-icon name="color-wand"></ion-icon> Dica </ion-button>
          <ion-button> Botão 2 </ion-button>
          <ion-button> <ion-icon name="alert"></ion-icon> Reportar erro </ion-button>
</ion-card>

<ion-card>
  <ion-card-title>Primeiros Passos!</ion-card-title>
  <ion-card-content>
    <p>O robô Wally precisa sair de onde está e chegar até o piso destacado em verde. Um programador já escreveu um pedaço das instruções que Wally deverá seguir, mas não conseguiu terminar. Qual sequência de códigos completará o código do programador e fará com que Wally consiga chegar até o piso verde?</p>
    <br>
    <app-slides-problema> </app-slides-problema>
    <br>
  </ion-card-content>
</ion-card>

<ion-card>
<div>
<ion-button expand="full"> 1. andarFrente()   2. virarDireita() </ion-button>
<ion-button expand="full">1. andarFrente()   2. virarEsquerda()</ion-button>
<ion-button expand="full">1. andarFrente()   2. andarFrente()</ion-button>
<ion-button expand="full">1. virarDireita()   2.andarFrente()</ion-button>
</div>
</ion-card>

<footer>
  <ion-card>
    <p class="rodape">© 2019 Se Liga Aê! Todos os direitos reservados. 
      <br> Gamificação para o ensino de Algoritmos - IFPE Campus Garanhuns</p>
  </ion-card>
  </footer>

</ion-content>

