.rodape {
    font-family: Arial;
    font-size: xx-small;
    text-align: center;
    color: #b8b8b8
}
.tituloQuestao{
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight:bold;
}
.barraSuperior{
    font: italic small-caps normal 18px/1.3em Arial, sans-serif;
    --background:#ff6d05;
}

.buttonBorda{
    font: small-caps normal 12px/1.3em Arial, sans-serif;
    -webkit-box-shadow: 4px 4px 5px 0px rgba(99, 99, 99, 0.75);
    -moz-box-shadow:    4px 4px 5px 0px rgba(99, 99, 99, 0.75);
    box-shadow:         4px 4px 5px 0px rgba(99, 99, 99, 0.75);
    margin-top: 12px;
}

.alternativas{
    padding: 8px;
}

ion-card-subtitle{
    font: normal 18px/1.3em Arial, sans-serif;
    text-align: center;
    color: #000000;
}
.enunciado{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 14px;
    padding-top: 5%;
}

//Efeito aparece-desaparece dos textos de instrução dos slides
@keyframes fa-blink {
    0% { opacity: 1; }
    50% { opacity: 0.5; }
    100% { opacity: 0; }
}

//Efeito sombra nos botões de alternativa
.fa-blink {
  -webkit-animation: fa-blink 7s linear infinite;
  -moz-animation: fa-blink 7s linear infinite;
  -ms-animation: fa-blink 7s linear infinite;
  -o-animation: fa-blink 7s linear infinite;
  animation: fa-blink 7s linear infinite alternate;
}

//textos e ícone instrutivos do slide de imagens do problema
.texto-slides{
    font-style: italic;
    font-size: 12px;
    text-align:center;
    display: flex;
    align-items: center; //centraliza horizontalmente
    justify-content: center; //cetraliza verticalmente
}
.drag-icon{
    max-width:60px;
    max-height:60px;
    width: auto;
    height: auto;
    padding-bottom: 20px;
}


