<ion-header>
  <ion-toolbar  class="barraSuperior">     
     <ion-buttons slot="secondary">
       <ion-button routerLink = "/lista-problemas">
        <ion-icon slot="icon-only" name="trophy"></ion-icon>
        </ion-button>
      </ion-buttons>
     
  <ion-title>
    Título da Questão
    </ion-title>
</ion-toolbar>
</ion-header>
<ion-content>

    <ion-fab-button class = "buttonOne" color="warning"><ion-icon name="color-wand"></ion-icon></ion-fab-button>
    <ion-fab-button class = "buttonTw"color="warning"><ion-icon name="bulb"></ion-icon></ion-fab-button>
    <ion-fab-button class = "buttonTre" color="warning"> <ion-icon name="alert"></ion-icon> </ion-fab-button>
         <!-- <br>
          descrição
          <br>-->
          <br>
          <app-slides-problema> </app-slides-problema>
          <br>

<ion-card>
<div>
<ion-button color="warning" expand="full"> 1. andarFrente()   2. virarDireita() </ion-button>
<ion-button color="warning" expand="full">1. andarFrente()   2. virarEsquerda()</ion-button>
<ion-button color="warning" expand="full">1. andarFrente()   2. andarFrente()</ion-button>
<ion-button color="warning" expand="full">1. virarDireita()   2.andarFrente()</ion-button>
</div>
</ion-card>

<footer>
  <ion-card>
    <p class="rodape">© 2019 Se Liga Aê! Todos os direitos reservados. 
      <br> Gamificação para o ensino de Algoritmos - IFPE Campus Garanhuns</p>
  </ion-card>
  </footer>

</ion-content>

