<ion-header>
  <ion-toolbar class="barraSuperior">
    <ion-title id="titulo"><span id="teste"></span></ion-title>
    <ion-buttons slot="secondary">
      <ion-button (click)="exibeDica()">
        <ion-icon name="bulb"></ion-icon>
      </ion-button>
      <ion-button id="buttonEliminaIncorreta" (click)="eliminaIncorreta()">
        <ion-icon name="close"></ion-icon>
      </ion-button> 
      <ion-button >
          <ion-icon name="bug"></ion-icon>
        </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card  style="overflow:scroll"> 
      <img  src="/assets/cardEnunciado.png">
      <ion-card-content class = "enunciado">
          <span id="enunciado"> </span>
      </ion-card-content>
  </ion-card>

    <ion-slides pager="true" [options]="slideOpts" zoom>
      <ion-slide>
        <ion-card>
          <ion-card-content>
            <div class="swiper-zoom-container">
              <img id="programador" src="">
            </div>
          </ion-card-content>
          <div class="fa-blink texto-slides">
            Gire o card deslizando-o para a esquerda
            <img src="/assets/icons/drag-left.gif" class="drag-icon">
          </div>
        </ion-card>
      </ion-slide>

      <ion-slide>
        <ion-card>
          <ion-card-content>
            <div class="swiper-zoom-container">
              <img id="contexto" src="">
            </div>
          </ion-card-content>
          <div class="fa-blink texto-slides">
            Gire o card deslizando-o para a direita
           <img src="/assets/icons/drag-right.gif" class="drag-icon">
          </div>
        </ion-card>
      </ion-slide>

    </ion-slides>
    
 

  <!--<ion-fab-button class = "buttonOne" color="warning"><ion-icon name="color-wand"></ion-icon></ion-fab-button>
    <ion-fab-button class = "buttonTw"color="warning"><ion-icon name="bulb"></ion-icon></ion-fab-button>
    <ion-fab-button class = "buttonTre" color="warning"> <ion-icon name="alert"></ion-icon> </ion-fab-button>
    -->
  <!-- <br>
          descrição
          <br>-->
    <div class="alternativas">
      <ion-button color="light" class="buttonBorda" expand="block" (click)="corrigeResposta('a')" id="a"><span id="a"></span></ion-button>
      <ion-button color="light" class="buttonBorda" expand="block" (click)="corrigeResposta('b')" id="b"><span id="b"></span></ion-button>
      <ion-button color="light" class="buttonBorda" expand="block" (click)="corrigeResposta('c')" id="c"><span id="c"></span></ion-button>
      <ion-button color="light" class="buttonBorda" expand="block" (click)="corrigeResposta('d')" id="d"><span id="d"></span></ion-button>
    </div>

  <footer>
      <p class="rodape">© 2019 Se Liga Aê! Todos os direitos reservados.
        <br> Gamificação para o ensino de Algoritmos - IFPE Campus Garanhuns</p>
  </footer>

</ion-content>