.botãoEntrar{
    --background: #ff914d;
}

.barraSuperior{
    font: italic small-caps normal 18px/1.3em Arial, sans-serif;
}

ion-content {
    --background: #ffff00 url('../../assets/background.png') no-repeat center center / cover !important;
}