.barraSuperior{
    font: italic small-caps normal 18px/1.3em Arial, sans-serif;
    --background:#fdad1a;
} 

.descricao{
    font-size: 9px;
}

.codigo{
    font-style: italic;
    font-size: 5px;
}