<ion-header>
    <ion-toolbar class="barraSuperior">
      <ion-buttons>
        <ion-menu-button class="menuBotao"></ion-menu-button>
        <ion-title>Modalidades</ion-title>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content>
  
     <span *ngFor="let modalidade of modalidades"> 
      <ion-img id="{{modalidade.codigo}}" *ngIf="modalidade.codigo != 'M003' && modalidade.disabled == false" [routerLink]="['/competencias', modalidade.codigo]" src="{{modalidade.imagem}}" ></ion-img>
      
      <ion-img id="{{modalidade.codigo}}" *ngIf="modalidade.codigo != 'M003' && modalidade.disabled == true" src="{{modalidade.imagem}}" ></ion-img>
      
      <ion-img id="{{modalidade.codigo}}" *ngIf="modalidade.codigo == 'M003'" (click)="emBreve()" src="{{modalidade.imagem}}"></ion-img> 
     </span>

</ion-content>