<ion-header>
    <ion-toolbar class="barraSuperior">
      <ion-buttons>
        <ion-menu-button class="menuBotao"></ion-menu-button>
        <ion-title>Modalidades</ion-title>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content>
     <span *ngFor="let modalidade of modalidades">
         <ion-img  *ngIf="modalidade.codigo != 'M003'" src="{{modalidade.imagem}}" [routerLink]="['/competencias', modalidade.codigo]"></ion-img>
         <ion-img  *ngIf="modalidade.codigo == 'M003'"  (click)="emBreve()" src="{{modalidade.imagem}}"></ion-img>
     </span>
</ion-content>