<ion-header>
  <ion-buttons>
    <ion-menu-button class = "menuBotao"></ion-menu-button>
  </ion-buttons>        
</ion-header>
<ion-content>
  <img src="/assets/Telas APP.png">
  
      <ion-button class= "botaoCadastro" expand="full" (click) ="emBreve()">QUERO ME CADASTRAR</ion-button>
      <ion-button class= "botaoAcesso" expand="full"routerLink='/modalidades'>JÁ SOU CADASTRADO(A)</ion-button>
      </ion-content>
  
  


  <!--<ion-content>
  <ion-button routerLink='/modalidades'> Modalidades </ion-button>
  <ion-button routerLink='/problema'>Problema X (estrutura da tela)</ion-button>
  <ion-button routerLink='/list'>Competência X (estrutura da tela)</ion-button>
  <ion-button routerLink='/teoria'> Teoria </ion-button>
  <ion-button routerLink='/lista-problemas'> Lista de Problemas </ion-button>

  <ion-button routerLink='/pagina-crud'>CRUDs</ion-button>


</ion-content>
-->