<ion-header>
  <ion-toolbar class="barraSuperior">
      <div class="medalhaAlertCorpo">
        <img class="logoBarraSuperior" src="/assets/icon/logoSeLiga.png">
      </div>
  </ion-toolbar></ion-header>

  <!--<img src="/assets/Telas APP.png">-->

  <!--Slides-->
  <ion-content fullscreen scroll-y="false">
    <ion-slides pager="true">

      <ion-slide>
          <img src="/assets/apresentacao/1.png"/>
      </ion-slide>

      <ion-slide>
        <img src="/assets/apresentacao/2.png"/>
      </ion-slide>

      <ion-slide>
        <img src="/assets/apresentacao/3.png"/>
      </ion-slide>

      <ion-slide>
        <img src="/assets/apresentacao/4.png"/>
      </ion-slide>

      <ion-slide>
        <img src="/assets/apresentacao/5.png"/>
      </ion-slide>

    </ion-slides>

      <ion-button expand="block" class="botaoAcesso" routerLink="/login">ENTRAR</ion-button>
  </ion-content>



<!--<ion-content>
  <ion-button routerLink='/modalidades'> Modalidades </ion-button>
  <ion-button routerLink='/problema'>Problema X (estrutura da tela)</ion-button>
  <ion-button routerLink='/list'>Competência X (estrutura da tela)</ion-button>
  <ion-button routerLink='/teoria'> Teoria </ion-button>
  <ion-button routerLink='/lista-problemas'> Lista de Problemas </ion-button>



</ion-content>
-->