<ion-header>
    <ion-toolbar  color = "primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Home
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
  <ion-button routerLink='/modalidades'> Modalidades </ion-button>
  <ion-button routerLink='/problema'>Problema X (estrutura da tela)</ion-button>
  <ion-button routerLink='/list'>Competência X (estrutura da tela)</ion-button>
  <ion-button routerLink='/teoria'> Teoria </ion-button>
  <ion-button routerLink='/lista-problemas'> Lista de Problemas </ion-button>

  <ion-button routerLink='/problemas'>Adicionar problemas</ion-button>
  <ion-button routerLink='/competencia'>Adicionar competencia</ion-button>
  <ion-button routerLink='/modalidade'>Adicionar modalidade</ion-button>

</ion-content>