.menuBotao{
  color: #fdad1a
}
.botaoCadastro{
  --background: #fdad1a;
  height: 40px;
  width: 300px;
  position: absolute;
  top: 230px;
  right: 35px;

}
.botaoAcesso{
    --background: #fdad1a;
    height: 40px;
    width: 300px;
    position: absolute;
    top: 280px;
    right: 35px;

}